project.json
[{"id":"7061e03b.529a3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"54e720ee.8bf4f","type":"debug","z":"7061e03b.529a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":140,"wires":[]},{"id":"6f3cbb5b.b17804","type":"function","z":"7061e03b.529a3","name":"Current","func":"global.set('Current',msg.payload.Current)\nmsg.payload=msg.payload.Current\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["54e720ee.8bf4f","4cce2bcd.e96444"]]},{"id":"818b3575.1fdb28","type":"function","z":"7061e03b.529a3","name":"Voltage","func":"global.set('Voltage',msg.payload.Voltage)\nmsg.payload=msg.payload.Voltage\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["54e720ee.8bf4f","96961c98.59253"]]},{"id":"3bfae3ab.5e3b0c","type":"ibmiot in","z":"7061e03b.529a3","authentication":"apiKey","apiKey":"dd9cd027.09244","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":180,"wires":[["54e720ee.8bf4f","6f3cbb5b.b17804","818b3575.1fdb28","91af8458.2a6fe8"]]},{"id":"91af8458.2a6fe8","type":"function","z":"7061e03b.529a3","name":"Total","func":"global.set('Total',msg.payload.Total)\nmsg.payload=msg.payload.Total\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["1880c986.98a6d6"]]},{"id":"4cce2bcd.e96444","type":"ui_gauge","z":"7061e03b.529a3","name":"","group":"b45cff5a.989cb","order":1,"width":0,"height":0,"gtype":"gage","title":"Current","label":"A","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#000000","#8000ff"],"seg1":"","seg2":"","x":680,"y":60,"wires":[]},{"id":"96961c98.59253","type":"ui_gauge","z":"7061e03b.529a3","name":"","group":"b45cff5a.989cb","order":2,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":260,"wires":[]},{"id":"1880c986.98a6d6","type":"ui_gauge","z":"7061e03b.529a3","name":"","group":"b45cff5a.989cb","order":2,"width":0,"height":0,"gtype":"gage","title":"Total","label":"Rs.","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":200,"wires":[]},{"id":"bfb8ee45.b7512","type":"http in","z":"7061e03b.529a3","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["bffcb02b.b4f22"]]},{"id":"bffcb02b.b4f22","type":"function","z":"7061e03b.529a3","name":"","func":"msg.payload={'Current':global.get(\"Current\"),'Voltage':global.get(\"Voltage\"),'Total':global.get(\"Total\")}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":400,"wires":[["b2becae9.fa3768"]]},{"id":"b2becae9.fa3768","type":"http response","z":"7061e03b.529a3","name":"","statusCode":"","headers":{},"x":720,"y":400,"wires":[]},{"id":"dd9cd027.09244","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b45cff5a.989cb","type":"ui_group","z":"","name":"Default","tab":"964ba096.82711","order":1,"disp":true,"width":"6","collapse":false},{"id":"964ba096.82711","type":"ui_tab","z":"","name":"Electricity Bill","icon":"dashboard","disabled":false,"hidden":false}]